.header{
    color: #f26a6b;
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 1.6em;
    letter-spacing: 1px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
}
