.projectid{
    font-family: "Open Sans";
    font-style: normal;
    color: black;
    line-height: 1.6em;
    letter-spacing: 1px;
    font-style: normal;
    text-align: center;
    padding-top: 10px;
    display: block;
  }

.projebr{
  padding-bottom: 500px;
}
  .outerrows{
    font-family: "Open Sans";
    font-size: 13px;
    color: rgba(0,0,0,1);
    letter-spacing: 1px;
    text-align: center;
    letter-spacing: .06em;
    line-height: 3em;
    padding: 10px;
    width: 90%;
    font-weight: 90;
    margin: auto;
    font-style: normal;
    list-style: none;
  }
.outerrows ul{
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
}
#twoid span{
    padding: 10px 20px 3px;
    border-radius: 4px;
    background-color: #E85B86;
    font-size: 20px;
    text-align: center;
    color: #fff;
    display: inline-block;
    min-width: 100px;
    height: 50px;
    line-height: 35px;
}
.proje{
  background-color: #46C8FF;
  padding-bottom: 100px;
}


.gridmission{
  font-style: normal;
    position: absolute;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    font-size: 13px;
    -webkit-column-width: 50px; /* Chrome, Safari, Opera */
    -moz-column-width: 50px; /* Firefox */
    column-width: 50px;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    padding: 50px;
    opacity: 0.8;
    background-color: white;
}



.firstgrid{
  font-style: normal;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    font-size: 13px;
    -webkit-column-width: 50px; /* Chrome, Safari, Opera */
    -moz-column-width: 50px; /* Firefox */
    column-width: 50px;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    padding: 50px;
    opacity: 0.8;
    background-color: white;

  }
