.projectid{
    font-family: "Open Sans";
    color: white;
    line-height: 1.6em;
    letter-spacing: 1px;
    font-style: normal;
    text-align: center;
    padding-top: 10px;
    display: block;
  }


#p1 {
  display: inline;

}


#p2 {
display: inline;
}

#p3 {
display: inline;
}

